@media only screen and (max-width:768px){
    .project-card {
        // min-height:150px !important;

    }
    .swiper-slide {
      height: 100% !important;
    }
  
    .services {
      .service {
        min-height:150px !important;
        
        .service-content {
          p {
            font-size: 14px!important;
            line-height: 23px;
              // line-height: 0;
          }
  
        }
      }
    }
  
    .brief {
      .brief_head {
          font-size: 18px!important;
          text-align: center;
          margin: 15px;
      }
      .brief_text {
          p {
              line-height: 38px!important;
              font-size: 14px!important;
          }
      }
  }
  
  .recent-work {
      .project-card {
          height: 120px !important;
          img {
            object-fit: cover;
            // height: 12.5rem;
          }
      }
  }
  
  
  }